<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Delete Friend Confirmation</title>
    </head>
    <body>
        <h1>ARE YOU SURE YOU WANT TO DELETE THIS USER?!</h1>
        <form class="" action="/friends/{{idToDelete}}/delete" method="post">
            <input type="hidden" name="id" value="{{idToDelete}}">
            <input type="submit" name="yes" value="Yes">
        </form><br>
        <form class="" action="/" method="post">
            <input type="submit" name="no" value="NO">
        </form>
    </body>
</html>
